**Training and Testing the model**

PROJECT NAME: UNIVERSITY ADMIT ELIGIBILITY PREDICTOR

TEAM ID: **PNT2022TMID04204**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
data=pd.read_csv('/content/Admission_Predict.csv')

In [ ]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
x=data.drop(['Chance of Admit '],axis=1) 
y=data['Chance of Admit ']

In [ ]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15)

In [ ]:
x_train

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
292,293,302,99,2,1.0,2.0,7.97,0
41,42,316,105,2,2.5,2.5,8.20,1
381,382,319,105,3,3.0,3.5,8.67,1
394,395,329,111,4,4.5,4.0,9.23,1
341,342,326,110,3,3.5,3.5,8.76,1
...,...,...,...,...,...,...,...,...
107,108,338,117,4,3.5,4.5,9.46,1
4,5,314,103,2,2.0,3.0,8.21,0
305,306,321,109,3,3.5,3.5,8.80,1
78,79,296,95,2,3.0,2.0,7.54,1
165,166,322,110,5,4.5,4.0,8.97,0

In [ ]:
y_train

292    0.56
41     0.49
381    0.73
394    0.89
341    0.79
       ...
107    0.91
4      0.65
305    0.74
78     0.44
165    0.78
Name: Chance of Admit , Length: 340, dtype: float64

In [ ]:
x_test

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
203,204,334,120,5,4.0,5.0,9.87,1
219,220,312,104,3,3.5,3.5,8.42,0
6,7,321,109,3,3.0,4.0,8.20,1
397,398,330,116,4,5.0,4.5,9.45,1
77,78,301,99,2,3.0,2.0,8.22,0
271,272,299,96,2,1.5,2.0,7.86,0
297,298,320,120,3,4.0,4.5,9.11,0
97,98,331,120,3,4.0,4.0,8.96,1
188,189,331,115,5,4.5,3.5,9.36,1
227,228,312,110,2,3.5,3.0,8.53,0
95,96,304,100,4,1.5,2.5,7.84,0
248,249,324,110,3,3.5,4.0,8.87,1
113,114,320,110,2,4.0,3.5,8.56,0
130,131,339,114,5,4.0,4.5,9.76,1
234,235,330,113,5,5.0,4.0,9.31,1
237,238,329,114,5,4.5,5.0,9.19,1
229,230,324,111,4,3.0,3.0,9.01,1
214,215,331,117,4,4.5,5.0,9.42,1
64,65,325,111,3,3.0,3.5,8.70,0
149,150,311,106,2,3.5,3.0,8.26,1
253,254,335,115,4,4.5,4.5,9.68,1
26,27,322,109,5,4.5,3.5,8.80,0
44,45,326,113,5,4.5,4.0,9.40,1
15,16,314,105,3,3.5,2.5,8.30,0
399,400,333,117,4,5.0,4.0,9.66,1
57,58,298,99,2,4.0,2.0,7.60,0
345,346,316,98,1,1.5,2.0,7.43,0
131,132,303,105,5,5.0,4.5,8.65,0
150,151,334,114,4,4.0,4.0,9.43,1
127,128,319,112,3,2.5,2.0,8.71,1
373,374,321,109,3,3.0,3.0,8.54,1
323,324,305,102,2,2.0,2.5,8.18,0
171,172,334,117,5,4.0,4.5,9.07,1
159,160,297,100,1,1.5,2.0,7.90,0
330,331,327,113,3,3.5,3.0,8.66,1
377,378,290,100,1,1.5,2.0,7.56,0
162,163,318,109,3,3.0,3.0,8.50,0
387,388,307,105,2,2.0,3.5,8.10,0
354,355,297,98,2,2.5,3.0,7.67,0
115,116,310,106,4,4.5,4.5,9.04,1
388,389,296,97,2,1.5,2.0,7.80,0
43,44,332,117,4,4.5,4.0,9.10,0
321,322,323,104,3,4.0,4.0,8.44,1
42,43,313,107,2,2.5,2.0,8.50,1
329,330,297,96,2,2.5,1.5,7.89,0
276,277,329,113,5,5.0,4.5,9.45,1
134,135,333,113,5,4.0,4.0,9.28,1
371,372,324,110,3,3.5,3.0,9.22,1
208,209,305,106,2,3.0,3.0,8.16,0
238,239,310,104,3,2.0,3.5,8.37,0
184,185,316,106,2,2.5,4.0,8.32,0
361,362,334,116,4,4.0,3.5,9.54,1
317,318,300,99,1,1.0,2.5,8.01,0
94,95,303,99,3,2.0,2.5,7.66,0
28,29,295,93,1,2.0,2.0,7.20,0
348,349,302,99,1,2.0,2.0,7.25,0
217,218,321,109,4,4.0,4.0,9.13,1
160,161,315,103,1,1.5,2.0,7.86,0
148,149,339,116,4,4.0,3.5,9.80,1
163,164,317,105,3,3.5,3.0,8.56,0

In [ ]:
y_test

203    0.97
219    0.74
6      0.75
397    0.91
77     0.64
271    0.54
297    0.86
97     0.86
188    0.93
227    0.64
95     0.42
248    0.80
113    0.72
130    0.96
234    0.91
237    0.86
229    0.82
214    0.94
64     0.52
149    0.79
253    0.93
26     0.76
44     0.91
15     0.54
399    0.95
57     0.46
345    0.49
131    0.77
150    0.93
127    0.78
373    0.79
323    0.62
171    0.89
159    0.52
330    0.80
377    0.47
162    0.67
387    0.53
354    0.59
115    0.66
388    0.49
43     0.87
321    0.73
42     0.53
329    0.43
276    0.89
134    0.89
371    0.89
208    0.64
238    0.70
184    0.72
361    0.93
317    0.58
94     0.36
28     0.46
348    0.57
217    0.85
160    0.57
148    0.96
163    0.68
Name: Chance of Admit , dtype: float64